
 body{
    margin: 0px;
    padding: 0px 0px;
    background-color: #edf292 ;
}
div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
